<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-8">
                <div class="product-search">
                    <input type="email" value="Search">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-short">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product short
                            by</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">Newest</a>
                            <a href="#" class="dropdown-item">Popular</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for product in products %}
        {{ include('partials/_product_item.html.twig', {item: product}) }}
    {% endfor %}
</div>