<div class="col-lg-4">
    <div class="product-item">
        <div class="product-image">
            <a href="{{ url('app_product', {'productSlug': item.slug}) }}">
                <img src="https://via.placeholder.com/255x309" alt="Product Image">
            </a>
            <div class="product-action">
                <a href="#"><i class="fa fa-cart-plus"></i></a>
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="product-content">
            <div class="title">
                <a href="{{ url('app_product', {'productSlug': item.slug}) }}">{{ item.name }}</a>
            </div>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="price">{{ item.unitPrice|number_format(2, ',', ' ') }} MAD <span>$25</span></div>
        </div>
    </div>
</div>