<div class="user">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Login</a>
            <a href="#" class="dropdown-item">Register</a>
        </div>
    </div>
    <div class="cart">
        <i class="fa fa-cart-plus"></i>
        <span>({{ cartItemCount }})</span>
    </div>
</div>