<div class="col-md-3">
    {{ render(controller('App\\Controller\\CategoryController::categories', {'limit': 10})) }}
    <div class="sidebar-widget image">
        <h2 class="title">Featured Product</h2>
        <a href="#">
            <img src="https://via.placeholder.com/255x270" alt="Image">
        </a>
    </div>
    {{ render(controller('App\\Controller\\StoreController::stores')) }}
    <div class="sidebar-widget tag">
        <h2 class="title">Tags Cloud</h2>
        <a href="#">Lorem ipsum</a>
        <a href="#">Vivamus</a>
        <a href="#">Phasellus</a>
        <a href="#">pulvinar</a>
        <a href="#">Curabitur</a>
        <a href="#">Fusce</a>
        <a href="#">Sem quis</a>
        <a href="#">Mollis metus</a>
        <a href="#">Sit amet</a>
        <a href="#">Vel posuere</a>
        <a href="#">orci luctus</a>
        <a href="#">Nam lorem</a>
    </div>
</div>