<div class="sidebar-widget category">
    <h2 class="title">Category</h2>
    <ul>
        {% for category in categories %} {# Equivalent foreach (categories as item => count) #}
            <li>
                <a href="{{ url('app_category', {slug: category.slug}) }}">{{ category.name }}</a>
                <span>({{ category.products|length }})</span>
            </li>
        {% endfor %}
    </ul>
</div>