{% extends 'layout.html.twig' %}
{% block content %}
<h1>Not found</h1>
    <p>
        This resource could not be found
        <a href="{{ url('app_index') }}">
            Go back.
        </a>
    </p>
{% endblock %}